<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pollr</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- External Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

    <!-- Internal CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <span class="logo">
        <h1>Pollr</h1>
      </span>
    </header>

    <main>
      <div id="landing">
        <div>
          <p>Create polls quick and easy with, <strong>Pollr</strong></p>
        </div>
        <section>
          <input id="startbutton" type="submit" value="Create Poll">
        </section>
      </div>

      <form id="createpoll">
        <input type="text" class="question" id="question" placeholder="Ask a Question">
        <input type="text" class="option" placeholder="Option">
        <input type="text" class="option" placeholder="Option">
        <input type="text" class="option" placeholder="Option">
        <input type="text" class="option" placeholder="Option">
        <input type="text" class="option" placeholder="Option">
        <input type="submit" class="submit" value="Create">
      <form>
    </main>
  </body>
</html>
