<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pollr</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- External Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

    <!-- Internal CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <span class="logo">
        <h1>Pollr</h1>
      </span>
    </header>

    <main>
      <div id="landing">
        <div>
          <p>Create polls quick and easy with, <strong>Pollr</strong></p>
        </div>
        <section>
          <input id="startbutton" type="submit" value="Start">
        </section>
      </div>

      <form id="createpoll">
        <input name="question" type="text" class="question" id="question" placeholder="Ask a Question">
        <input name="option1" id="option1" type="text" class="option" placeholder="Option">
        <input name="option2" id="option2" type="text" class="option" placeholder="Option">
        <input name="option3" id="option3" type="text" class="option" placeholder="Option">
        <input name="option4" id="option4" type="text" class="option" placeholder="Option">
        <input  name="option5" id="option5" type="text" class="option" placeholder="Option">
        <button id="createpollbutton" class="submit" type="button">Create Poll</button>
      </form>

      <form id="userpage">
        <input name="name" type="text" id="name" class="userinput" placeholder="Enter your name">
        <input name="email" type="email" id="email" class="userinput" placeholder="Enter your email">
        <button id="createuserbutton" class="submit" type="button">Submit</button>
      </form>

      <div id="adminpage">

        <div id="polllink" class="link">
          <h3>Vote Link:</h3>
          <div class="linkbox">
            <p>https://www.linknamehere.com/vote/:id</p>
          </div>
          <p class="admintext">Send this link to your friends <br> so they can cast a vote.</p>
        </div>

        <div id="resultlink" class="link">
          <h3>Result Link:</h3>
          <div class="linkbox">
            <p>https://www.linknamehere.com/result/:id</p>
          </div>
          <p class="admintext">Check this link to see <br> your results.</p>
        </div>
      </div>

    </main>
  </body>
</html>








