<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pollr</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- External Font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap" rel="stylesheet">

    <!-- Internal CSS -->
    <link rel="stylesheet" href="/styles/result.css" type="text/css" />

    <!-- External JS -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <header>
      <span class="logo">
        <h1>Pollr</h1>
      </span>
    </header>

    <main>

      <form>
        <h3>Results</h3>
        <p id="view">View your results here</p>
        <ul id="resultspage">
          <li id="first" class="result"> Option 1</li>
          <li id="second" class="result"> Option 2</li>
          <li id="third" class="result"> Option 3</li>
          <li id="fourth" class="result"> Option 4</li>
          <li id="fifth" class="result"> Option 5</li>
        </ul>
      </form>

    </main>
  </body>
</html>
