body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

body header {
}

header h1 {
  font-weight: bold;
  font-size: 2em;
  margin-top: 10px;
  margin-left: 15px;
  color: #4749a0;
}

main div p {
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  width: 70%;
  text-align: center;
  color: #4749a0;
  font-size: 1.4em;

}

main section {
  margin: auto;
  width: 60%;
  height: 90px;
  text-align: center;
  background-color: #ff7e5d;
  border-radius: 20px;
  -webkit-box-shadow: 0px 23px 46px -27px rgba(255,126,93,0.7);
  -moz-box-shadow: 0px 23px 46px -27px rgba(255,126,93,0.7);
  box-shadow: 0px 23px 46px -27px rgba(255,126,93,0.7);
}

main section input {
  background-color: #ff7e5d;
  border: 0px;
  color: #fdf3e6;
  font-size: 1.4em;
  font-weight: 600;
  display: inline-block;
  margin-top: 25px;
}

main form {
  /*background-color: #fdf3e6;*/
  margin: auto;
  width: 80%;
  /*height: 300px;*/
  border-radius: 20px;
  margin-top: 70px;
  text-align: center;
}

main form .question {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-width: 0px;
  font-size: 1.5em;
  width: 90%;
  background-color: #f0faf9;
  color: #4749a0;
  font-weight: 600;
  opacity: 1;
  padding: 5px;
  -webkit-box-shadow: 0px 3px 17px -10px rgba(71,73,160,0.5);
  -moz-box-shadow: 0px 3px 17px -10px rgba(71,73,160,0.5);
  box-shadow: 0px 3px 17px -10px rgba(71,73,160,0.5);
}

main form .option {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-width: 0px;
  font-size: 1.2em;
  width: 80%;
  padding: 5px;
  -webkit-box-shadow: 0px 3px 17px -10px rgba(71,73,160,0.5);
  -moz-box-shadow: 0px 3px 17px -10px rgba(71,73,160,0.5);
  box-shadow: 0px 3px 17px -10px rgba(71,73,160,0.5);
}

main form .submit {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-width: 0px;
  font-size: 1.5em;
  width: 70%;
  padding: 5px;
  background-color: #4749a0;
  color: #f9f1fb;
  -webkit-box-shadow: 0px 3px 17px -10px rgba(71,73,160,0.5);
  -moz-box-shadow: 0px 3px 17px -10px rgba(71,73,160,0.5);
  box-shadow: 0px 3px 17px -10px rgba(71,73,160,0.5);
}



