$app-background-color: #f9fbfc;
$font-stack: 'Open Sans', sans-serif;
$primary-blue: #4749a0;
$primary-orange: #ff7e5d;
$primary-white-font: #ffffff;


body {
  background-color: $app-background-color;
  font-family: $font-stack;
}

header h1 {
  font-weight: bold;
  font-size: 2em;
  margin-top: 10px;
  margin-left: 15px;
  color: $primary-blue;
}

main form {
  margin: auto;
  width: 100%;
  border-radius: 20px;
  margin-top: 70px;
  text-align: center;
}

form h3{
  background-color: $app-background-color;
  color: $primary-blue;
  margin: auto;
  margin-top: 1.2em;
  margin-bottom: 10px;
  font-weight: 600;
}

#view{
  color: $primary-blue;
  padding-top:10px;
  margin-bottom: 20px;
}

form p {
  color: #FF361B;
  padding:20px;
  margin-bottom: 0px;
}

#resultspage {
  list-style-type: none;
  padding-right: 40px;
}

.result {
  margin-top: 0.5em;
  padding: 0.5em;
  -webkit-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
}

#first {
  background-color: #fff;
  border-width: 5px;
  border-radius: 20px;
  border-color: red;
  text-align: center;
  font-size: 1.5em;
  text-align: left;
  margin-left: 8px;
  transition: all 2s ease-in-out;
  transform: scale(1.05);
  margin-bottom: 30px;
  margin-top: 0px
}

#second {
  background-color: #fff;
  border-radius: 20px;
  text-align: left;
  font-size: 1.0em;
  width: 90%;
  margin-top: 1.3em;
  margin-left: 20px;
  padding: 0.5em;
  -webkit-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  vertical-align: center;
  margin-bottom: 30px;
}

#second {
  background-color: #fff;
  border-radius: 20px;
  text-align: left;
  font-size: 1.0em;
  width: 90%;
  margin-top: 1.3em;
  margin-left: 20px;
  padding: 0.5em;
  -webkit-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  vertical-align: center;
  margin-bottom: 30px;
}

#third {
  background-color: #fff;
  border-radius: 20px;
  text-align: left;
  font-size: 1.0em;
  width: 90%;
  margin-top: 1.3em;
  margin-left: 20px;
  padding: 0.5em;
  -webkit-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  vertical-align: center;
  margin-bottom: 30px;
}

#fourth {
  background-color: #fff;
  border-radius: 20px;
  text-align: left;
  font-size: 1.0em;
  width: 90%;
  margin-top: 1.3em;
  margin-left: 20px;
  padding: 0.5em;
  -webkit-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  vertical-align: center;
  margin-bottom: 30px;
}

#fifth {
  background-color: #fff;
  border-radius: 20px;
  text-align: left;
  font-size: 1.0em;
  width: 90%;
  margin-top: 1.3em;
  margin-left: 20px;
  padding: 0.5em;
  -webkit-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  vertical-align: center;
  margin-bottom: 30px;
}
