body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

header h1 {
  font-weight: bold;
  font-size: 2em;
  margin-top: 10px;
  margin-left: 15px;
  color: #4749a0;
}

main form {
  margin: auto;
  width: 80%;
  border-radius: 20px;
  margin-top: 70px;
  text-align: center;  
}

form h3{
  // background-color: #f0faf9;
  color: #4749a0;
  margin: 0px 35px;
}

#view{
  color: #4749a0;
  padding-top:10px
}

form p {
  color: #FF361B;
  padding-top:20px;
}


#first {
  font-size: 1.5em;
}

#second {
  font-size: 1.2em;
}

#third {
  font-size: 1em;
}

#fourth {
  font-size: 0.8em;
}

#fifth {
  font-size: 0.6em;
}

