body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}

header h1 {
  font-weight: bold;
  font-size: 2em;
  margin-top: 10px;
  margin-left: 15px;
  color: #4749a0;
}

main form {
  margin: auto;
  width: 80%;
  border-radius: 20px;
  margin-top: 70px;
  text-align: center;
}

form h3{
  // background-color: #f0faf9;
  color: #4749a0;
  margin: auto;
}

#view{
  color: #4749a0;
  padding-top:10px
}

form p {
  color: #FF361B;
  padding-top:20px;
}

#resultspage {
  list-style-type: none;
}

.result {
  margin-top: 1em;
  padding: 0.5em;
  -webkit-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
}

#first {
  text-align: center;
  font-size: 1.5em;
  width: 80%;
}

.losers {
  text-align: center;
  font-size: 1.0em;
  width: 60%
}
