$app-background-color: #f9fbfc;
$font-stack: 'Open Sans', sans-serif;
$primary-blue: #4749a0;
$primary-orange: #ff7e5d;
$primary-white-font: #ffffff;


body {
  background-color: $app-background-color;
  font-family: $font-stack;
}

header h1 {
  font-weight: bold;
  font-size: 2em;
  margin-top: 10px;
  margin-left: 15px;
  color: $primary-blue;
}

main section {
  margin: auto;
  width: 60%;
  height: 90px;
  text-align: center;
  background-color: $primary-orange;
  border-radius: 20px;
  -webkit-box-shadow: 0px 23px 46px -27px rgba(255, 126, 93, 0.7);
  -moz-box-shadow: 0px 23px 46px -27px rgba(255, 126, 93, 0.7);
  box-shadow: 0px 23px 46px -27px rgba(255, 126, 93, 0.7);
}

main section input {
  background-color: $primary-orange;
  border: 0px;
  color: $primary-white-font;
  font-size: 1.4em;
  font-weight: 600;
  display: inline-block;
  margin-top: 25px;
}

main .page-header {
  padding: 1em 1em 0em 1em;
  margin-top: 1em;
}

main .page-header h3 {
  text-align: center;
  margin: auto;
}

main .page-header p {
  margin: auto;
  width: 70%;
  text-align: center;
  color: $primary-blue;
  font-size: 1em;
}

main #votepage {
  margin: 0% 15%;
}

main #sortable {
  margin: auto;
  text-align: center;
  padding-left: 0px;
  list-style-type: none;
}

// main #crown {
//   font-size: 300%;
//   height: auto;
//   margin: 0%;
//   text-align: center;
//   height: 60px;
// }

main .option {
  text-align: center;
  margin: auto;
  margin-top: 1.5em;
  margin-right: 0%;
  margin-left: 0%;
  padding: 0.5em;
  border-radius: 20px;
  left: 15%;
  background-color: $primary-orange;
  color: $primary-white-font;
  -webkit-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
}

main #votepage #submitvotebutton {
  text-align: center;
  margin-left: 25%;
  margin-top: 1.5em;
  margin-bottom: 10px;
  border-radius: 20px;
  border-width: 0px;
  font-size: 1.5em;
  width: 50%;
  height: 60px;
  padding: 5px;
  background-color: $primary-blue;
  color: $primary-white-font;
  -webkit-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
}

main #thankyou {
  display: none;
  font-size: 1.5em;
  text-align: center;
  margin: auto;
  color: $primary-blue;
}

main #seeresults {
  display: none;
  margin: 0% 15%;
  text-align: center;
}

main #resultsbutton {
  margin: auto;
  text-align: center;
  font-size: 1.5em;
  width: 50%;
  border-radius: 20px;
  padding: 5px;
  height: 60px;
  background-color: $primary-orange;
  color: $primary-white-font;
  -webkit-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 17px -10px rgba(0, 0, 0, 0.5);
}
